You can find Project Settings under the Project Admin tab. From this page, you can set or edit the:

<ol>
<li>Project name</li>
<li>Project identifier</li>
<li>Project Description</li>
</ol>

![Alt text](/images/project_settings.png)


And under **Advanced Settings** you can set or edit the:

<ol>
<li>Project time zone settings</li>
<li>Project numeric precision</li>
<li>Notification email address</li>
<li>Project icon/logo</li>
<li>Enable anonymous access</li>
<li>Enable request membership to the project*</li>
</ol>

![Alt text](/images/advanced_settings.png)

*Anonymous access is disabled by default for Mingle in the cloud. Please contact studios@thoughtworks.com if you'd like it enabled for your site and read our blog post to [learn what anonymous access means in the cloud](http://getmingle.io/news/2014/05/06/Anonymous-access-for-Mingle-in-the-cloud.html).