Mingle projects are your **team's workspace**. A project can support an ongoing or timebound endeavor, such as a product or a short term initiative. You can create a project three ways from the projects page:

<ol>
<li>With a template</li>
<li>From scratch</li>
<li>Import an existing project</li>
</ol>

**N.B. Only Mingle Admins can create new projects.**

![Alt text](/images/new_project_button.png)

## Templates

Mingle offers you three **pre-defined templates**: **Scrum**, **Agile**, and **Kanban**. Your organization may also have created a **custom template**. 

We recommend you use one of these templates to minimze the initial configuration required before you get started. **Remember: you can always customize the template so it meets your specifc needs.**

To create a new project from a template, just click on the **New Project** button on the projects page and follow these steps:

<ol>
<li>Name your project</li>
<li>Select the template you want to use</li>
<li>Click the "Create Project" button</li>
</ol>

![Alt text](/images/new_project_template.png)

If you want to **create a template from an existing project** (something only Project and Mingle Admins can do), just click on "Export project as template" under the "Project admin" tab. The project will be exported as a .mingle file. 

N.B. None of the project data will be exported when you export the project as a template; only the structure, card defaults, and overview page will carry over to the template.

![Alt text](/images/export_project_as_template.png)

Then import the template under by going to **Admin > Project templates** and clicking the **Import Template** button. Upload the template you previously exported as a .mingle file and it will appear under **Your Custom Templates** when you create a new project. 

![Alt text](/images/admin_project_templates.png)

N.B. Changes you make to a template will not be propogated to existing projects using that template; they will only be applied to new projects using that template.

## From Scratch

If you want to build your project from the ground up, use our **blank project** template. This comes with all of the Mingle ingredients still in the cupboard, so you can bake your own project from absolute scratch. 

Starting with a blank project might be a good option if you're importing work from Excel. 

## Export/Import Projects

You can also create a project by exporting and then importing an existing Mingle project. (Only Project and Mingle Admins can export projects and only Mingle Admins can import projects). 

To **export your project**, just go to the **Project admin** tab and click on the "Export Project" link. It will ask you to confirm the export and then will download as a .mingle fil.

![Alt text](/images/export_project.png)

To **import your project**, just click on the "Import Project" button on the projects page.

![Alt text](/images/import_project_button.png)

Then fill out the form, which requires the .mingle project file you want to import and a project name. (The project identifier will auto-populate, so no need to worry about that. You can, however, manually change the identifier if you'd like.) 

![Alt text](/images/import_project.png)



